*{margin: 0;
  padding: 0;
}

.logo{
  width: 50px;
  margin-left: 70px;
}

.menu{
  background-color: white;
  margin-top: 15px;
  position: fixed;
  width: 100%;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  word-spacing: 60px;
  align-items: center;
  }
  
  .nav a{
    text-decoration: none;
  }

  a:link{
    color: black;
  }
  a:visited{
    color: black;
  }
  a:hover{
    color:rgb(237, 182, 73)
  }

  .nav_button {
    background-color: black;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 60px;
  }

  .tarjetas {
    background-image: url("creditcardd.jpg");
    height: 450px;
    width: 450px;
    background-size: cover;
    float: right;
    margin-top: -100px;
}

.textos{
  padding-left: 80px;
  width: 100%;
}

.lorem{
  margin-top: 30px;
}

.titulo{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
}

.titulo_dos{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-top: 10px;
}

.lorem{
  font-family: Arial, Helvetica, sans-serif;
}

.botonnegro{
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 30px;
  margin-right: 20px;
}

.botonblanco{
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 30px;
}

button:hover{
  background-color: rgb(237, 182, 73);
}

.botones{
  height: 80px;
  display: flex;
 align-items: center;

}
.flechas{
  width: 200px;
  margin-left: 200px;
}

.linea_uno{
  padding-top: 120px;
  padding-left: 80px;
  display: flex;
  align-items: center;
}

.tarjetachica{
  height: 30px;
  margin-left: 15px;
}

.circulo{
  height: 120px;
  margin-left: 400px;
}

.trusted{
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 80px;
  width: 100%;
  margin-top: 50px;
}

.contenedor-imagenes {
  padding-left: 70px;
  width: 10%;
  display: flex;
  justify-content: space-between;
}

.contenedor-imagenes img {
  max-width: 100%;
  height: auto;
}

.imageneslogos{
  background-color: rgb(49, 49, 49);
  display: flex; 
  justify-content: space-evenly;
  padding: 20px;
}

.imageneslogos img {
  max-height: 200px;
  max-width: 150px;
  border-right: 1px solid white;
}

